.modal.fade.show.d-block {
	height: 100vh;
	width: 100vw;
	z-index: 1050;
}

.admin-modal-content,
.admin-modal-body-flex,
.admin-modal-sidebar,
.admin-modal-main {
	min-height: 0;
}

.admin-modal-sidebar {
	overflow-y: auto;
}

.admin-modal-main {
	overflow-y: auto;
}

.footer-left-align {
	text-align: left;
	flex: 1;
}

.tab-scroll-area {
	max-height: 31.25rem;
	overflow-y: auto;
	padding-right: 0.5rem;
} 