* {
	font-family: Inter, sans-serif;
	font-optical-sizing: auto;
	user-select: none;
}

html {
	transition: color 0.3s ease, background-color 0.3s ease;

	& * {
		transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

		&:not(.nav-link, .btn, .form-control, .form-select, .dropdown-menu, .modal, .tooltip, .popover) {
			transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
		}
	}
}

html, body {
	overflow-x: hidden;
}

html, body, main, .custom-navbar {
	max-width: 100%;
}
#app {
	width: 100vw;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	// overflow-x: hidden; // Removed to allow sticky navbar
}

html, body, main {
	margin-top: 0 !important;
	padding-top: 0 !important;
	width: 100%;
}

main {
	width: 100%;
	padding-top: 5rem;
	margin-top: 0;
}

@media (max-width: 575px) {
	main {
		padding-top: 3.5rem;
	}
} 