body {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#scene {
    display: hidden;
}
#loading {
    display: block;
}
#background {
    background-image: url("../spaceImages/NebulaRed.png");
    background-repeat:no-repeat; 
    display: none;
    margin-top: -5%;
    margin-left: -10%;
    height: 4096px;
    width: 4096px;
}

#stars1 {
    background-image: url("../spaceImages/stars1.png");
    background-repeat:no-repeat;  
    display: none;
    margin-top: -5%;
    margin-left: -10%;
    height: 4096px;
    width: 4096px;
}
#stars2 {
    background-image: url("../spaceImages/stars2.png");
    background-repeat:no-repeat;  
    display: none;
    margin-top: -5%;
    margin-left: -10%;
    height: 4096px;
    width: 4096px;
}
#stars3 {
    background-image: url("../spaceImages/stars3.png");
    background-repeat:no-repeat; 
    display: none; 
    margin-top: -5%;
    margin-left: -10%;
    height: 4096px;
    width: 4096px;
}
#stars4 {
    background-image: url("../spaceImages/stars4.png");
    background-repeat:no-repeat;  
    display: none;
    margin-top: -5%;
    margin-left: -10%;
    height: 4096px;
    width: 4096px;
}
